
# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# Tipo da indetação (space ou tab) 
indent_style = space
# Tamanho da identação
indent_size = 2
# Padronizas as quebras e espaços entre linux e windows
end_of_line = lf
charset = utf-8
# Remove os espaços no fim da linha
trim_trailing_whitespace = false
# Coloca uma linha em branco na ultima linha
insert_final_newline = false
